.home-main-section {
    padding-left: 20rem;
}

@media (max-width: 991px) {
    .home-main-section {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: small;
    }
}

@media (max-width: 761px) {
    .home-main-section {
         padding-left: 1rem;
         padding-right: 0.5rem;
         font-size: small;
    }
}

.main-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.main-heading h1 {
    font-size: 5rem;
    margin: 0;
    color: #000;
    font-weight: bolder;
}

.main-heading h2 {
    font-size: 2.5rem;
    margin: 10px 0 0 0;
    color: #555;
    font-weight: bold;
}

.heading-three {
    margin-top: 20px;
}

.line-two {
    width: 100%;
    border: 2px solid black;
}

.para-wrapper {
    display: block;
    font-size: 1.6rem;
    margin-top: 4rem;
}


.home-page-buttons {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.home-page-buttons button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.home-page-buttons a {
    text-decoration: none;
    color: inherit;
}

.home-page-buttons .first-btns {
    background-color: rgb(49, 142, 243);
    color: white;
}

.home-page-buttons .second-btns {
    background-color: white;
    border: black 2px solid;
}

.home-page-buttons .first-btns:hover {
    background-color: white;
    color: black;
    border: black 2px solid;
}

.home-page-buttons .second-btns:hover {
    background-color: rgb(49, 134, 225);
    color: #fff;
    border: none;
}

.info-two {
    font-size: 1.8rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.info-two h2 {
    font-size: 3rem;
    text-decoration: none;
    margin-bottom: 1rem;
}

.tech-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem 6rem;
    margin-top: 4rem;
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.tech-list li {
    margin-bottom: 0.5rem;
}

.contact-section h2 {
    font-size: 3rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.insta-icons {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 2rem 40rem 2rem 20rem;
}

.insta-icon-size { 
    width: 70px;  
    height: 60px;
    cursor: pointer;
    object-fit: contain;
}

.insta-icon:hover {
    transform: translateY(-10px); 
    box-shadow: 10px 12px 20px rgba(1, 2, 1, 0.25);
}

@media (max-width: 991px) {
    .insta-icons {
         padding-left: 2rem;
         padding-right: 1rem;
    }
}

@media (max-width: 761px) {
    .insta-icons {
         padding-left: 1rem;
         padding-right: 0.5rem;
    }
}

.line-one {
    width: 100%;
    height: 3px;
    background-color: black;
    margin-bottom: 1rem;
}   